
  .bar{
    fill: steelblue;
  }

	.axis {
	  font: 10px sans-serif;
	}
    
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

table{border-collapse: collapse;width:80%}
th, td{ padding:5px;border-bottom: 1px solid black; width:200px }
.overview th:nth-of-type(1), .overview td:nth-of-type(1){width:350px}
.episodes th:nth-of-type(2), .episodes td:nth-of-type(2){width:500px}